.ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.Modal {
    z-index: 1;
    width: 50%;
    min-height: fit-content;
    max-height: 90%;
    background-color: white;
    ;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
    border: 2px solid #f3bbbc;
    border-radius: 25px;
}

.Modal .modalButton:hover {
    cursor: pointer;
    color: #f3bbbc;
}

.Modal .modalButton {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #c59d9d;
    border: none;
    background: none;
    font-size: 40px;
}

.Modal .textSection {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.Modal img {
    height: 400px;
}

.Modal .title {
    color: #f3bbbc;
    text-transform: capitalize;
    font-weight: bold;
    margin: auto;
    font-size: 45px;
    text-align: center;
    text-shadow: #c59d9d;
}

.Modal .description {
    color: #c59d9d;
    font-weight: bold;
    margin: auto;
    font-size: 35px;
    text-align: center;
}

.Modal .text {
    color: #c59d9d;
    text-transform: capitalize;
    margin: auto;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}